
# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 150.192 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-12-08 19:55:46.119 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-12-08 19:55:57.897 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-12-08 19:55:57.897 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-12-08 19:58:16.311 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>150.192 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 88.555 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-12-08 19:55:46.121 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-12-08 19:55:54.709 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-12-08 19:55:54.709 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-12-08 19:57:14.676 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>88.555 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 59.256 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-10-09 20:04:53.663 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-10-09 20:05:00.843 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-10-09 20:05:00.843 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-10-09 20:05:52.919 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>59.256 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 50.014 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-09-30 20:58:43.225 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-09-30 20:58:56.758 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-09-30 20:58:56.758 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-09-30 20:59:33.239 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>50.014 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 32.561 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-10-09 20:04:20.382 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-10-09 20:04:24.325 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-10-09 20:04:24.325 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-10-09 20:04:52.943 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>32.561 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
