
# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 331.464 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 16:56:56.782 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 16:57:07.245 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 16:57:07.245 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 17:02:28.246 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>331.464 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 270.291 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 16:52:25.898 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 16:52:41.303 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 16:52:41.303 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 16:56:56.189 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>270.291 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 366.896 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 14:46:37.565 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 14:46:47.874 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 14:46:47.874 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 14:52:44.461 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>366.896 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 339.136 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 14:40:57.546 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 14:41:12.097 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 14:41:12.097 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 14:46:36.682 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>339.136 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
