
# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 15.352 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 14:02:27.389 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 14:02:40.146 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 14:02:40.146 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 14:02:42.741 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>15.352 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 24.786 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 14:02:01.501 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 14:02:24.794 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 14:02:24.794 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 14:02:26.287 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>24.786 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
