
# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 390.948 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 17:45:03.405 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 17:45:10.756 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 17:45:10.756 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 17:51:34.353 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>390.948 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 348.22 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 17:39:14.608 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 17:39:20.541 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 17:39:20.541 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 17:45:02.828 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>348.22 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 331.464 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 16:56:56.782 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 16:57:07.245 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 16:57:07.245 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 17:02:28.246 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>331.464 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 270.291 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 16:52:25.898 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 16:52:41.303 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 16:52:41.303 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 16:56:56.189 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>270.291 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
