
# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 14.035 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 14:22:49.141 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 14:23:00.942 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 14:23:00.942 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 14:23:03.176 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>14.035 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 29.416 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 14:22:18.806 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 14:22:46.756 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 14:22:46.756 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 14:22:48.222 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>29.416 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 11.675 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 14:07:19.815 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 14:07:29.267 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 14:07:29.267 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 14:07:31.490 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>11.675 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 17.555 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-08-01 14:07:01.494 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-08-01 14:07:17.652 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-08-01 14:07:17.652 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-08-01 14:07:19.049 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>17.555 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
