
# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 139.518 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2025-08-27 01:15:17.082 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2025-08-27 01:15:25.348 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2025-08-27 01:15:25.348 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2025-08-27 01:17:36.600 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>139.518 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 139.947 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2025-08-27 01:15:17.081 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2025-08-27 01:15:27.425 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2025-08-27 01:15:27.425 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2025-08-27 01:17:37.028 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>139.947 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 154.941 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-12-08 20:11:20.597 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-12-08 20:11:33.782 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-12-08 20:11:33.782 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-12-08 20:13:55.538 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>154.941 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 50.014 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-09-30 20:58:43.225 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-09-30 20:58:56.758 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-09-30 20:58:56.758 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-09-30 20:59:33.239 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>50.014 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 121.047 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-12-08 20:11:20.598 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-12-08 20:11:43.109 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-12-08 20:11:43.109 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-12-08 20:13:21.645 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>121.047 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
