
# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 65.362 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-10-01 18:28:51.328 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-10-01 18:28:59.089 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-10-01 18:28:59.089 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-10-01 18:29:56.690 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>65.362 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 44.099 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-10-01 18:28:06.458 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-10-01 18:28:13.702 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-10-01 18:28:13.702 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-10-01 18:28:50.557 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>44.099 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 64.971 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-09-30 20:59:33.814 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-09-30 20:59:41.872 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-09-30 20:59:41.872 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-09-30 21:00:38.785 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>64.971 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 50.014 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-09-30 20:58:43.225 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-09-30 20:58:56.758 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-09-30 20:58:56.758 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-09-30 20:59:33.239 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>50.014 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
