
# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 82.295 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2026-09-18 12:54:40.892 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2026-09-18 12:54:48.749 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2026-09-18 12:54:48.749 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2026-09-18 12:56:03.187 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>82.295 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 154.756 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2026-09-18 12:54:40.897 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2026-09-18 12:55:01.928 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2026-09-18 12:55:01.928 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2026-09-18 12:57:15.653 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>154.756 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/6/6-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 50.014 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-09-30 20:58:43.225 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-09-30 20:58:56.758 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-09-30 20:58:56.758 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-09-30 20:59:33.239 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>50.014 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 6 | Passed: 6 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>6</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>


# FEDEDIM.EXTENSIONS.CONFIGURATION.PROTECTED.DATAPROTECTIONAPITEST

![Generic badge](https://img.shields.io/badge/24/24-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 139.947 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2025-08-27 01:15:17.081 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2025-08-27 01:15:27.425 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2025-08-27 01:15:27.425 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2025-08-27 01:17:37.028 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>139.947 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 24 | Passed: 24 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>24</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
